<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">eCommerce</a>
      <form class="navbar-form navbar-left" method="post" action="/search">
          <div class="form-group">
              <input type="text" name="q" class="form-control" placeholder="Search For Product">
              <button type="submit" class="btn btn-default">Search</button>
          </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories</a>
          <ul class="dropdown-menu">
            <% for(var i = 0; i < categories.length; i++) { %>
              <li><a href="/products/<%= categories[i]._id %>"><%= categories[i].name %></a></li>
            <% } %>
            </ul>
            &nbsp; &nbsp;
          </li>
        <% if(!user) { %>
        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Signup / Login </a>
          <ul class="dropdown-menu">
            <li><a  href="/signup">SignUp</a></li>
            <li><a  href="/login">Login</a></li>
          </ul>
        </li>
        <% } else { %>
        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name %> </a>
          <ul class="dropdown-menu">
            <li><a  href="/profile">Profile</a></li>
            <li><a  href="/logout">Logout</a></li>
          </ul>
        </li>
        <% } %>
        <% if(user) { %>
        <li><a href="/cart" class="glyphicon glyphicon-shopping-cart"><span class+"badge"><%= cart %></span></a></li>
        <% } else {%>
        <li><a href="/cart" class="glyphicon glyphicon-shopping-cart"><span class+"badge">0</span></a></li>
        <% } %>
      </ul>

    </div>

  </div>
</div>


          </ul>
      </div>
    </nav>
<br><br><br><br><br>
