<% layout('layout') -%> 
<div class="row">
    <br><br><br><br>
    <h1>Edit Profile</h1>
    <div class="col-md-6 col-md-offset-3">
        <% if(message.length > 0) { %>
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
        </div>
        <% } %>
        <form method="post">
            <br>
            <div class="form-group">
                <label="name">First Name: </label>
                <input type="text"  name="firsstname" value="<%= user.profile.firstname %>" class="form-control"> 
            </div>
            <br>
             <div class="form-group">
                <label="name">Last Name: </label>
                <input type="text"  name="lastname" value="<%= user.profile.lastname %>" class="form-control">
             </div>
                 <br>
            <div class="form-group">
                <label="name">Address: </label>
                <input type="text"  name="address" value="<%= user.address %>" class="form-control">
             </div>
                 <br>
            
            <button type="submit" class="btn btn-success">Update</button>
            <br>
        </form>
    </div>
</div>