
<% layout('layout') -%>

<div class="jumbotron">
      <div class="container">
        <h1>Shop Smart and Save Big!</h1>
        <p>Starting point to do something unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h2>Start your Search Here</h2>
          <p>Sign Up to Start Buying.</p>
       </div>
        <div class="col-md-3">
          <h3>Look For Smart Items</h3>
          <p>These will appear across the site as you add to your cart.</p>
        </div>
          <div class="col-md-3">
          <h4>Build a Smart Cart</h4>
          <p>The Smarter you buy, The Bigger you save.</p>
        </div>
      </div>